---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";

import { Gallery } from "../components/Gallery.jsx";
---

<Layout title="Albún Senderismo - TMR">
  <Header />
  <main>
    <Hero
      tittlePrincipal={{
        tittle: "Albún senderismo ",
        description: "De camino a la cima",
        fondo: "/fondosPortada/img-portada-7.webp",
      }}
      customStyles={{
        // Aquí pasas los estilos específicos
        backgroundPosition: "left-top",
      }}
    />

    <Gallery category="senderismo" client:load />
  </main>
</Layout>
