---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { Gallery } from "../components/Gallery.jsx";
import Header from "../components/Header.astro";
---

<Layout title="Álbum Estadio - TMR">
  <Header />
  <main>
    <Hero
      tittlePrincipal={{
        tittle: "Álbum Estadio",
        description: "Lo mejor de la ruca",
        fondo: "/fondosPortada/img-portada-1.webp",
      }}
      customStyles={{
        backgroundPosition: "center",
      }}
    />
    <Gallery category="estadio" client:load />
  </main>
</Layout>
