---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

import { Gallery } from "../components/Gallery.jsx";

import Header from "../components/Header.astro";
---

<Layout title="
Albún Estadio - TMR">
  <Header />
  <main>
    <Hero
      tittlePrincipal={{
        tittle: "Álbum estadio ",
        description: "Lo mejor de la ruca",
        fondo: "../../public/fondosPortada/img-portada-1.webp",
      }}
      customStyles={{
        // Aquí pasas los estilos específicos
        backgroundPosition: "center",
      }}
    />
    <Gallery category="estadio" client:load />
  </main>
</Layout>
