---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ImgPortada from "../components/Seccion-Fotos-Portada.astro";
import Carruzel from "../components/Carruzel.astro";
import PreloadImg from "../components/Preload-img-Portada.astro";
---

<PreloadImg image="/fondosPortada/img-portada-4.webp" />
<Layout title="TMR Home">
  <main>
    <Hero
      tittlePrincipal={{
        tittle: "Roberto Rodríguez",
        description: "Capturando momentos",
        perfil: "/imgPerfil/img-perfil-4.webp",
        fondo: "/fondosPortada/img-portada-4.webp",
      }}
      customStyles={{
        backgroundPosition: "center",
      }}
    />

    <Carruzel />

    <div class="container mx-auto mt-12 md:mt-20" id="fotos">
      <div class="flex items-center justify-center mb-4 md:mb-6">
        <div
          class="border-t md:border-t-2 md:w-60 border-[#239b56] dark:border-gray-700 mr-2 w-20 lg:w-96"
        >
        </div>
        <h2
          class="text-[#239b56] dark:text-gray-200 font-playfair text-2xl md:text-3xl"
        >
          Categorías
        </h2>
        <div
          class="border-t md:border-t-2 md:w-60 border-[#239b56] dark:border-gray-700 ml-2 w-20 lg:w-96"
        >
        </div>
      </div>
    </div>

    <div class="space-y-4">
      <!-- Espaciado entre las imágenes de portada -->
      <a href="/albun-sendero">
        <ImgPortada
          imgportada={{
            tittle: "Senderismo",
            description: "Camino a la cumbre",
            largeFoto: "/fondosPortadaAlbun/img-portadaAlbun-9.webp",
            smallFoto: "/fondosPortadaAlbun/img-portadaAlbun-3.webp",
            mediumFoto: "/fondosPortadaAlbun/img-portadaAlbun-7.webp",
          }}
        />
      </a>
      <a href="/albun-estadio">
        <ImgPortada
          imgportada={{
            tittle: "Estadio",
            description: "Lo mejor de la Ruca",
            largeFoto: "/fondosPortadaAlbun/img-portadaAlbun-8.webp",
            smallFoto: "/fondosPortadaAlbun/img-portadaAlbun-6.webp",
            mediumFoto: "/fondosPortadaAlbun/img-portadaAlbun-5.webp",
          }}
        />
      </a>
    </div>
  </main>
</Layout>
