---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Presentacion from "../components/Sobremi-perfil.astro";
---

<script>
  // Importa la función desde darkMode.js
  import { initDarkMode } from "../darkMode";

  // Ejecuta la función al cargar el documento
  document.addEventListener("DOMContentLoaded", () => {
    initDarkMode(".dark-mode-button");
  });
</script>

<Layout title="Sobre mí - TMR">
  <main class="fondo">
    <Hero
      tittlePrincipal={{
        tittle: "¿Quién soy?",
        description: "Roberto Rodríguez Bz",
        fondo: "/fondosPortada/img-portada-8.webp",
      }}
      customStyles={{
        backgroundSize: "", // Aquí pasas los estilos específicos
        backgroundPosition: "top",
      }}
    />
    <Presentacion />
  </main>
</Layout>
