<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div
    class="relative h-[500px] md:h-[100vh] xl:h-[100vh] overflow-hidden flex items-center justify-center"
  >
    <!-- Item 1 -->
  <!-- las clases con hidden de las imgs, permite que al cargar la pagina se oculten y no se vean todas en miniaturas antes que que arranque el carruzel -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center w-full h-full"
      data-carousel-item
    >
      <img
        src="/imgCarruzel/img-carrucel-1.webp"
        class="block w-[80%] h-[80%] md:w-[85%] md:h-[85%] xl:w-[80%] xl:h-[80%] object-contain"
        alt="..."
        loading="lazy"
      />
    </div>
    <!-- Item 2 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center w-full h-full"
      data-carousel-item
    >
      <img
        src="/imgCarruzel/img-carrucel-2.webp"
        class="block w-[80%] h-[80%] md:w-[85%] md:h-[85%] xl:w-[80%] xl:h-[80%] object-contain"
        alt="..."
        loading="lazy"
      />
    </div>
    <!-- Item 3 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center w-full h-full"
      data-carousel-item
    >
      <img
        src="/imgCarruzel/img-carrucel-3.webp"
        class="block w-[80%] h-[80%] md:w-[85%] md:h-[85%] xl:w-[80%] xl:h-[80%] object-contain"
        alt="..."
        loading="lazy"
      />
    </div>
    <!-- Item 4 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center w-full h-full"
      data-carousel-item
    >
      <img
        src="/imgCarruzel/img-carrucel-4.webp"
        class="block w-[80%] h-[80%] md:w-[85%] md:h-[85%] xl:w-[80%] xl:h-[80%] object-contain"
        alt="..."
        loading="lazy"
      />
    </div>

    <!-- Item 5 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center w-full h-full"
      data-carousel-item
    >
      <img
        src="/imgCarruzel/img-carrucel-5.webp"
        class="block w-[80%] h-[80%] md:w-[85%] md:h-[85%] xl:w-[80%] xl:h-[80%] object-contain"
        alt="..."
        loading="lazy"
      />
    </div>
    <!-- Item 6 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center w-full h-full"
      data-carousel-item
    >
      <img
        src="/imgCarruzel/img-carrucel-6.webp"
        class="block w-[80%] h-[80%] md:w-[85%] md:h-[85%] xl:w-[80%] xl:h-[80%] object-contain"
        alt="..."
        loading="lazy"
      />
    </div>
    <!-- Item 7 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center w-full h-full"
      data-carousel-item
    >
      <img
        src="/imgCarruzel/img-carrucel-7.webp"
        class="block w-[80%] h-[80%] md:w-[85%] md:h-[85%] xl:w-[80%] xl:h-[80%] object-contain"
        alt="..."
        loading="lazy"
      />
    </div>
    <!-- Item 8 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center w-full h-full"
      data-carousel-item
    >
      <img
        src="/imgCarruzel/img-carrucel-8.webp"
        class="block w-[80%] h-[80%] md:w-[85%] md:h-[85%] xl:w-[80%] xl:h-[80%] object-contain"
        alt="..."
        loading="lazy"
      />
    </div>
    <!-- Item 9 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center w-full h-full"
      data-carousel-item
    >
      <img
        src="/imgCarruzel/img-carrucel-9.webp"
        class="block w-[80%] h-[80%] md:w-[85%] md:h-[85%] xl:w-[80%] xl:h-[80%] object-contain"
        alt="..."
        loading="lazy"
      />
    </div>

    <!-- Slider indicators -->
    <div
      class="absolute bottom-4 left-1/2 z-30 flex justify-center p-2 md:p-4 rounded-full transform -translate-x-1/2 space-x-2 md:space-x-4 bg-gray-300 dark:bg-white/40"
    >
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="1"></button>
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="2"></button>
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="3"></button>
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="4"></button>
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="5"></button>
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="false"
        aria-label="Slide 4"
        data-carousel-slide-to="3"></button>
      <button
        type="button"
        class="w-2 h-2 md:w-3 md:h-3 rounded-full border-2 border-transparent hover:border-[#239b56] hover:bg-[#239b56] dark:hover:bg-[#28a745]"
        aria-current="false"
        aria-label="Slide 5"
        data-carousel-slide-to="4"></button>
    </div>
  </div>

  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-1.5 md:px-6 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-6 h-6 md:w-7 md:h-7 rounded-full bg-gray-300 dark:bg-white/40 group-hover:bg-gray-200 dark:group-hover:bg-gray-100/90 group-focus:ring-4 group-focus:ring-green-100 dark:group-focus:ring-green-100 group-focus:outline-none"
    >
      <svg
        class="w-2 h-2 md:w-4 md:h-4 text-[#239b56] dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"></path>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>

  <button
    type="button"
    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-1.5 md:px-6 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-6 h-6 md:w-7 md:h-7 rounded-full bg-gray-300 dark:bg-white/40 group-hover:bg-gray-200 dark:group-hover:bg-gray-100/90 group-focus:ring-4 group-focus:ring-green-100 dark:group-focus:ring-green-100 group-focus:outline-none"
    >
      <svg
        class="w-2 h-2 md:w-4 md:h-4 text-[#239b56] dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>
