<section class="relative flex items-center justify-center p-10 text-pretty">
  <div
    id="drawer-contact"
    class="w-96 xl:w-[600px] bg-white p-4 dark:bg-gray-800"
  >
    <h5
      id="drawer-label"
      class="inline-flex items-center mb-6 text-base font-semibold text-gray-500 uppercase dark:text-gray-400"
    >
      <svg
        class="w-4 h-4 me-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 16"
      >
        <path
          d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
        ></path>
        <path
          d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
        ></path>
      </svg>
      Contactame
    </h5>
    <form
      action="https://formspree.io/f/mbljjoby"
      method="POST"
      class="mb-6"
      id="contactForm"
    >
      <div class="mb-6">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#239b56] focus:border-[#239b56] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#239b56] dark:focus:border-[#239b56]"
          placeholder="name@gmail.com"
          required
        />
      </div>
      <div class="mb-6">
        <label
          for="subject"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Asunto</label
        >
        <input
          type="text"
          id="subject"
          name="subject"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#239b56] focus:border-[#239b56] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#239b56] dark:focus:border-[#239b56]"
          placeholder="Escriba asunto aquí"
          required
        />
      </div>
      <div class="mb-6">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Mensaje</label
        >
        <textarea
          id="message"
          name="message"
          rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-[#239b56] focus:border-[#239b56] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#239b56] dark:focus:border-[#239b56]"
          placeholder="tu mensaje..."
          required></textarea>
      </div>
      <button
        type="submit"
        class="text-white bg-[#239b56] hover:bg-[#3cc87b] w-full focus:ring-4 focus:ring-[#239b56] font-medium rounded-lg text-sm px-5 py-2.5 mb-2 focus:outline-none dark:focus:ring-[#239b56] block"
        >Enviar</button
      >
    </form>

    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
      <a href="#" class="hover:underline"></a>
    </p>
  </div>
</section>

<script>
  document.addEventListener("visibilitychange", function () {
    if (document.visibilityState === "visible") {
      const form = document.getElementById("contactForm") as HTMLFormElement; // Aserción de tipo
      form.reset(); // Resetea el formulario
    }
  });
</script>
