---
import "photoswipe/style.css";


---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-43 lg:grid-cols-4 gap-4 mx-auto py-20" id="gallery">
 
  {
    Array.from({ length: 2 }).map((_, i) => (
      <a
        class="relative block overflow-hidden rounded-xl aspect-square"
        href={`public/GgaleriaAlbunFoto/senderismo/img-senderismo-${i + 1}.webp`}
        target="_blank"
        data-cropped="true"
        data-pswp-width="1200"
        data-pswp-height=""
      >
        <img class="absolute inset-0 w-full h-full object-cover" loading="lazy" src={`public/GgaleriaAlbunFoto/senderismo/img-senderismo-${i + 1}.webp`} alt="" />
      </a>
    ))
  }
  
</div>


<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>