---
import "photoswipe/style.css";
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-43 lg:grid-cols-4 gap-4 mx-auto py-20" id="galeria">
  {
    Array.from({ length: 8 }).map((_, i) => (
      <a
        class="relative block overflow-hidden rounded-xl aspect-square"
        href={`public/GgaleriaAlbunFoto/senderismo/img-senderismo-${i + 1}.webp`}
        target="_blank"
        data-cropped="true"
      >
        <img
          class="absolute inset-0 w-full h-full object-cover"
          loading="lazy"
          src={`public/GgaleriaAlbunFoto/senderismo/img-senderismo-${i + 1}.webp`}
          alt=""
        />
      </a>
    ))
  }
</div>

<script>
    
  async function obtenerDimensiones(urlImagen) {
    const imagen = new Image();
    imagen.src = urlImagen;

    return new Promise((resolver) => {
      imagen.onload = () =>
        resolver({ ancho: imagen.width, alto: imagen.height });
      imagen.onerror = () => resolver({ ancho: 0, alto: 0 });
    });
  }

  Array.from({ length: 8 }).map(async (_, i) => {
    const urlImagen = `public/GgaleriaAlbunFoto/senderismo/img-senderismo-${i + 1}.webp`;
    const { ancho, alto } = await obtenerDimensiones(urlImagen);

    // Actualizar data-pswp-width y data-pswp-height dinámicamente
    const ancla = document.querySelector(`#gallery a[href="${urlImagen}"]`);
    ancla.dataset.pswpWidth = ancho;
    ancla.dataset.pswpHeight = alto;
  });
</script>
