<div class="md:flex bg-slate-100 rounded-xl p-6 dark:bg-slate-500 m-14">
  <div class="md:w-1/2">
    <img
      src="/imgPerfil/img-perfil-3.webp"
      alt="Profile Image"
      class="w-full h-full sm:h-43 object-cover rounded-lg"
      loading="lazy"
    />
  </div>
  <div
    class="text-gray-600 font-spectral dark:text-gray-100 flex flex-col justify-center items-center mt-12 md:ml-4 md:w-[80%]"
  >
    <p class="text-lg text-center">
      <span class="text-gray-800 dark:text-gray-100 font-semibold">
        ¡Hola! Soy Roberto Rodríguez
      </span>
    </p>
    <p
      class="text-lg text-center mt-4 leading-relaxed text-gray-800 dark:text-gray-100"
    >
      Un apasionado del deporte y la fotografía, fan de capturar momentos, ya
      sea en la naturaleza o simplemente en el día a día.
      <span class="italic"
        >Cada instante registrado se convierte en un recuerdo,</span
      > una forma de plasmar la esencia de la vida. Amante de la montaña, donde el
      camino hacia la cumbre se transforma en un momento de meditación, paz interior
      y tranquilidad,
      <span class="text-emerald-600 dark:text-emerald-200"
        >invitándonos a ser nosotros mismos.</span
      >
    </p>
  </div>
</div>
